
@model School_Management_System.Areas.Models.CoursesListViewModel      

@if (Model != null && Model.Courses != null && Model.Courses.Count() > 0) 
{
    <table class="table">
        <thead>
            <tr>

                <th scope="col">Course_Name</th>
                <th scope="col">Course_Description</th>
                <th scope="col">School_Year</th>

            </tr>
        </thead>
        <tbody>
            @if (Model.Courses != null)
            {
                foreach (var courses in Model.Courses)
                {
                    <tr>
                        <td>
                            @courses.Course_Name
                        </td>
                        <td>
                            @courses.Course_Description
                        </td>
                        <td>
                            @courses.School_Year
                        </td>                     
                      
                        <td>
                            <button data-href="@Url.Action("Action", "Courses", new { Id = courses.Id })" type="button" class="data-btn btn btn-success" data-bs-toggle="modal" data-bs-target="#actionModal"><i class="fa-solid fa-pen mr-1"></i>Edit</button>
                            <button data-href="@Url.Action("Delete", "Courses", new { Id = courses.Id })" type="button" class="data-btn btn btn-danger" data-bs-toggle="modal" data-bs-target="#actionModal"><i class="fa-solid fa-trash-can mr-1"></i>Delete</button>
                        </td>
                    </tr>
                }
}

        </tbody>
    </table>
}
else
{
    <div class="alert alert-warning" role="alert">
        Sorry! No records exist.
    </div>
}


