
@model School_Management_System.Areas.Models.StudentListViewModels

@if (Model != null && Model.Students != null && Model.Students.Count() > 0)
{
    <table class="table">
        <thead>
            <tr>
                <th scope="col">LastName</th>
                <th scope="col">FirstName</th>
                <th scope="col">Gender</th>
                <th scope="col">Age</th>
                <th scope="col">Address</th>
                <th scope="col">Phone</th>
                <th scope="col">Email</th>
                <th scope="col">Password</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Students != null)
            {
                foreach (var student in Model.Students)
                {
            <tr>
                <td>
                    @student.LastName
                </td>
                <td>
                    @student.FirstName
                </td>
                <td>
                    @student.Gender
                </td>
                <td>
                    @student.Age
                </td>
                <td>
                    @student.Address
                </td>
                <td>
                    @student.Phone
                </td>
                <td>
                    @student.Email
                </td>
                <td>
                    @student.Password
                </td>

                <td>
                    <button data-href="@Url.Action("Action", "Student", new { Id = student.Id })" type="button" class="data-btn btn btn-success" data-bs-toggle="modal" data-bs-target="#actionModal"><i class="fa-solid fa-pen mr-1"></i>Edit</button>
                    <button data-href="@Url.Action("Delete", "Student", new { Id = student.Id })" type="button" class="data-btn btn btn-danger" data-bs-toggle="modal" data-bs-target="#actionModal"><i class="fa-solid fa-trash-can mr-1"></i>Delete</button>
                </td>
            </tr>
                }
            }

        </tbody>
    </table>
}
else
{
    <div class="alert alert-warning" role="alert">
        Sorry! No records exist.
    </div>
}

