@model School_Management_System.Areas.Models.SchedulesActionViewModel


@if (Model != null)
{
<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title">

            @if (Model.Id > 0)
            {
                <span>Edit Schedules</span>
            }
            else
            {
                <span>Create Schedules</span>
            }
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="modal-body">
        <form id="actionForm">
            <input type="hidden" name="Id" value="@Model.Id" />
            <div class="form-group">
                <label>Student_Id</label>
                <input class="form-control" name="Student_Id" placeholder="Enter Student_Id." value="@Model.Student_Id">
            </div>
            <div class="form-group">
                <label>Course_Id</label>
                <textarea class="form-control" name="Course_Id" placeholder="Enter Course_Id.">@Model.Course_Id</textarea>
            </div>
            <div class="form-group">
                <label>Staff_Id</label>
                <textarea class="form-control" name="Staff_Id" placeholder="Enter Staff_Id.">@Model.Staff_Id</textarea>
            </div>
            <div class="form-group">
                <label>Time_Start</label>
                <textarea class="form-control" name="Time_Start" placeholder="Enter Time_Start.">@Model.Time_Start</textarea>
            </div>
            <div class="form-group">
                <label>End_Date</label>
                <textarea class="form-control" name="End_Date" placeholder="Enter End_Date.">@Model.End_Date</textarea>
            </div>
        </form>
    </div>
</div>
    <div class="errorDiv">
    </div>

    <div>
        <div class="modal-footer">
            <button id="actionButton" type="button" class="btn btn-primary"><i class="fas fa-save mr-1"></i>Save changes</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fas fa-times mr-1"></i>Close</button>
        </div>
    </div>
}

<script>
    $("#actionButton").click(function () {
        $.ajax({
            url: '@Url.Action("Action", "Schedules")',
            type: "post",
            data: $("#actionForm").serialize()
        })
        .done(function (response) {
            if(response.Success)
            {
                location.reload();
            }
            else {
                $(".errorDiv").html(response.Message);
            }
        });
    });
</script>

